@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lato:wght@100&family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');
.logoform{
    height: 10vh;
    margin-left: 10vh;
   margin-top:5vh;
   position: fixed;

}
#sobreh1{
    font-size: 6vh;
    text-decoration: none;
    /* font-family: 'Josefin Sans', sans-serif;  */
     /* font-family: 'Nunito', sans-serif;  */
    font-family: 'Quicksand', sans-serif; 
     margin-top: 3vh;
   position: fixed;
   color: rgb(131, 131, 131);
   /* AiOutlineMail */
  
}
.faixa{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 25vh;
    width: 100%;
    height: 500px;
    background-color: rgb(61, 61, 61);
    background: linear-gradient(90deg, #fff, rgb(184, 184, 184));
   
}

#oqe{
    font-size: 30px;
  width: 900px;
  position: fixed;
text-align: center;
  top: 40vh;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.iconsG{
    position: fixed;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70vh;  
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    left: 10vh; 
    color: rgb(0, 0, 0);
    font-size: 3vh;
 }
 .iconsG:hover{
    background-color: rgb(113, 113, 113);
    transform: translateY(-10px);
 
 }
 .iconsG:hover,
 .iconsG:focus{
   box-shadow: 0 0.5em 0.7em -0.5em rgb(0, 0, 0);
   transform: translateX(-0.1em);
 
 }
 #email{
    position: fixed;
    left: 15vh; 
    top: 69vh; 
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 20px;
 }
 .slaa{
    position: fixed;
    left: 145vh;
    height: 50vh;
 }